{
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "@alquipo/eslint-config/react"
  ],
  "rules": {
    "react/prop-types": "off"
  }
}
