apiVersion: apps/v1
kind: Deployment
metadata:
  name: app-email
  labels:
    app: app-email
spec:
  replicas: 1
  selector:
    matchLabels:
      app: app-email
  template:
    metadata:
      labels:
        app: app-email
    spec:
      containers:
      - name: app-email
        image: rtprosa315/emailpy:1.0.50
        imagePullPolicy: Always
        ports:
        - containerPort: 8083
